<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781667575834-q6iu01gm8src5o43fah34sa7qu702b0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781667575834-q6iu01gm8src5o43fah34sa7qu702b0b</string>
	<key>API_KEY</key>
	<string>AIzaSyBWNu_1-JglScKsrgMqy3WqjNJ8Qt-Vhjk</string>
	<key>GCM_SENDER_ID</key>
	<string>781667575834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deathstorm.SafeShopper</string>
	<key>PROJECT_ID</key>
	<string>safeshopper-eedd3</string>
	<key>STORAGE_BUCKET</key>
	<string>safeshopper-eedd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781667575834:ios:df6cc2aeeb6724d72209a3</string>
	<key>DATABASE_URL</key>
	<string>https://safeshopper-eedd3.firebaseio.com</string>
</dict>
</plist>